<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletCerrarSesion</servlet-name>
        <servlet-class>Controlador.ServletCerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletJerarquia</servlet-name>
        <servlet-class>Controlador.ServletJerarquia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaJerarquia</servlet-name>
        <servlet-class>Controlador.ServletListaJerarquia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaRol</servlet-name>
        <servlet-class>Controlador.ServletListaRol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaTarea</servlet-name>
        <servlet-class>Controlador.ServletListaTarea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaTareaSub</servlet-name>
        <servlet-class>Controlador.ServletListaTareaSub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaUnidadInterna</servlet-name>
        <servlet-class>Controlador.ServletListaUnidadInterna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaUsuario</servlet-name>
        <servlet-class>Controlador.ServletListaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListarProceso</servlet-name>
        <servlet-class>Controlador.ServletListarProceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Controlador.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProceso</servlet-name>
        <servlet-class>Controlador.ServletProceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRol</servlet-name>
        <servlet-class>Controlador.ServletRol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTarea</servlet-name>
        <servlet-class>Controlador.ServletTarea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>Controlador.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUnidadInterna</servlet-name>
        <servlet-class>Controlador.ServletUnidadInterna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletJustificativo</servlet-name>
        <servlet-class>Controlador.ServletJustificativo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTareaSub</servlet-name>
        <servlet-class>Controlador.ServletTareaSub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletReasignarTarea</servlet-name>
        <servlet-class>Controlador.ServletReasignarTarea</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCerrarSesion</servlet-name>
        <url-pattern>/procesoCerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletJerarquia</servlet-name>
        <url-pattern>/procesoJerarquia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaJerarquia</servlet-name>
        <url-pattern>/procesoListaJerarquia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaRol</servlet-name>
        <url-pattern>/procesoListaRol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaTarea</servlet-name>
        <url-pattern>/procesoListaTarea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaTareaSub</servlet-name>
        <url-pattern>/procesoListaTareaSub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaUnidadInterna</servlet-name>
        <url-pattern>/procesoListaUnidadInterna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaUsuario</servlet-name>
        <url-pattern>/procesoListaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListarProceso</servlet-name>
        <url-pattern>/procesoListarProceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/procesoLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProceso</servlet-name>
        <url-pattern>/procesoProceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRol</servlet-name>
        <url-pattern>/procesoRol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTarea</servlet-name>
        <url-pattern>/procesoTarea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/procesoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUnidadInterna</servlet-name>
        <url-pattern>/procesoUnidadInterna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletJustificativo</servlet-name>
        <url-pattern>/procesoJustificativo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTareaSub</servlet-name>
        <url-pattern>/procesoTareaSub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletReasignarTarea</servlet-name>
        <url-pattern>/procesoReasignarTarea</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
