@charset "utf-8";
/* CSS Document */
.modal{
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.7);
	position:absolute;
	top:0%;	
	justify-content: center;
	align-items: center;
	display:none;
}

.modal-content{
	width:700px;
	height:150px;
	margin-left:350px;
	margin-top:250px;
	background: none;
	opacity: 1;
	float:left;
	padding:40px;
	position:relative;
	border-radius: 10px;
}

h1{
	text-align:center;
	color:white;	
}


button{
	border: 0;
        background: none;
        margin: 30px 10px;
        text-align: center;
        border: 2px solid #2ecc71;
        padding: 14px 40px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
        text-decoration: none;
}

button:hover{
	background: #2ecc71; 
}

.close{
	position:absolute;
	top:0;
	right:14px;
	font-size: 38px;
	line-height:20px;
	border-radius:50%;
	cursor:pointer;
        color: white;
}
.close:hover{
	background:#999;
	opacity:0.7;
}

.buttons{
	position:absolute;
	top:0;
}

/* Rol */
.modalRol{
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.7);
	position:absolute;
	top:0%;	
	justify-content: center;
	align-items: center;
	display:none;
}

.modal-content{
	width:700px;
	height:150px;
	margin-left:350px;
	margin-top:250px;
	background: none;
	opacity: 1;
	float:left;
	padding:40px;
	position:relative;
	border-radius: 10px;
}

h1{
	text-align:center;
	color:white;	
}


button{
	border: 0;
        background: none;
        margin: 30px 10px;
        text-align: center;
        border: 2px solid #2ecc71;
        padding: 14px 40px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
        text-decoration: none;
}

button:hover{
	background: #2ecc71; 
}

.closeRol{
	position:absolute;
	top:0;
	right:14px;
	font-size: 38px;
	line-height:20px;
	border-radius:50%;
	cursor:pointer;
        color: white;
}
.close:hover{
	background:#999;
	opacity:0.7;
}

.buttonsRol{
	position:absolute;
	top:0;
}

